#preguntas {
    background-color: #ffffff;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 50px;
}

.accordion-item{
    text-align: center;
    justify-content: center;
}

#relatos{
    height: 600px;
}

.firmaro {
    height: 70px;
}